/* General */
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;600&display=swap');
* {
    background-image: url(./img/bg-pattern-desktop.svg) cover;
    background-repeat: no-repeat
    margin: 0;
    padding: 0;
}
.title, .description, .email-field, .bold-text, .alert-message {
    font-family: 'Josefin Sans', sans-serif;
}
/* Desktop Style */
/* Desktop Style */
.first-section {
    margin-top: 2em;
    margin-left: 5em;
}
.title {
    margin-top: 3rem;
    font-size: 3rem;
}
.description {
    margin-top: 3rem;
    font-size: 18px;
    width: 65%;
}
.form {
    margin-top: 3rem;
}
.email-field {
    height: 2.5rem;
    width: 350px;
    padding: 5px;
    border-radius: 18px;
    border: hsl(0, 36%, 70%) 2px solid;
}
.btn-submit {
    height: 3rem;
    width: 75px;
    border-radius: 15px;
    border: none;
    background-image: linear-gradient(135deg, #ffecd2 0%, #fcb69f 51%, #ffecd2 100%);
}
.alert-message {
    margin-top: 18px;
    font-size: 12px;
}
.error-icon {
    margin-top: 25px;
    margin-left: -50px;
}
/* Mobile Style */
